// __________SASS File__________ //

// Variable Declaration
$color: #007bff;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

// Media Queries
@media screen and (max-width: 800px) {
  .banner-image img {
    display: none;
  }

  #trends-container {
    display: none;
  }
}
