// __________SASS File__________ //

// Adding Font
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Variable Declaration
$color: #007bff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

// Wrapper
#cattyboard_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main-top_container {
    flex: 1;
    display: flex;

    aside {
      display: flex;

      .nav_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        background-color: lightgray;

        a {
          color: black;
          font-size: 1.3rem;
        }
      }
    }

    .header-section_container {
      flex: 1;

      header {
        background-color: dimgray;
        color: white;
        padding: 3rem;
        display: flex;

        .header_image {
          margin-right: 5rem;
        }

        .header_content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 0.1rem;

          div:nth-child(1) {
            h1 {
              margin-bottom: 1rem;
            }

            p {
              margin-bottom: 0.2rem;
            }
          }

          div:nth-child(2) {
            a {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    color: white;
    padding: 1.5rem;

    .album-logo-title_box {
      flex: 2;
      display: flex;
      align-items: center;

      div:nth-child(1) {
        margin-right: 2rem;

        img {
          width: 100px;
          height: 100%;
        }
      }

      div:nth-child(2) {
        p {
          line-height: 2rem;
        }
      }
    }

    .footer_button-box {
      flex: 1;
      display: flex;
      justify-content: space-between;
      text-align: right;

      a {
        font-size: 1.3rem;
      }
    }
  }

}

// Media Queries
@media screen and (max-width: 800px) {}
