@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #898AA6; }

#greeting_box_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #greeting_box_wrapper .main_container {
    background-color: #F7ECDE;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; }
    #greeting_box_wrapper .main_container .grid {
      position: absolute;
      width: 50%;
      height: 50%;
      -webkit-transition: -webkit-transform 1s ease-in-out;
      transition: -webkit-transform 1s ease-in-out;
      transition: transform 1s ease-in-out;
      transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
    #greeting_box_wrapper .main_container .grid_box_first,
    #greeting_box_wrapper .main_container .grid_box_second {
      top: 0; }
    #greeting_box_wrapper .main_container .grid_box_third,
    #greeting_box_wrapper .main_container .grid_box_fourth {
      bottom: 0; }
    #greeting_box_wrapper .main_container .grid_box_first,
    #greeting_box_wrapper .main_container .grid_box_third {
      left: 0; }
    #greeting_box_wrapper .main_container .grid_box_second,
    #greeting_box_wrapper .main_container .grid_box_fourth {
      right: 0; }
    #greeting_box_wrapper .main_container .grid_box_first {
      background-color: #F4BFBF;
      -webkit-transform-origin: top left;
              transform-origin: top left; }
    #greeting_box_wrapper .main_container .grid_box_second {
      background-color: #C2DED1;
      -webkit-transform-origin: top right;
              transform-origin: top right; }
    #greeting_box_wrapper .main_container .grid_box_third {
      background-color: #8CC0DE;
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left; }
    #greeting_box_wrapper .main_container .grid_box_fourth {
      background-color: #FAF4B7;
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right; }
    #greeting_box_wrapper .main_container:hover .grid_box_first,
    #greeting_box_wrapper .main_container:hover .grid_box_fourth {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    #greeting_box_wrapper .main_container:hover .grid_box_second,
    #greeting_box_wrapper .main_container:hover .grid_box_third {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
