@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: unset; }

#cattyboard_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #cattyboard_wrapper .main-top_container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #cattyboard_wrapper .main-top_container aside {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #cattyboard_wrapper .main-top_container aside .nav_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        padding: 0 1rem;
        background-color: lightgray; }
        #cattyboard_wrapper .main-top_container aside .nav_container a {
          color: black;
          font-size: 1.3rem; }
    #cattyboard_wrapper .main-top_container .header-section_container {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      #cattyboard_wrapper .main-top_container .header-section_container header {
        background-color: dimgray;
        color: white;
        padding: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #cattyboard_wrapper .main-top_container .header-section_container header .header_image {
          margin-right: 5rem; }
        #cattyboard_wrapper .main-top_container .header-section_container header .header_content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding-bottom: 0.1rem; }
          #cattyboard_wrapper .main-top_container .header-section_container header .header_content div:nth-child(1) h1 {
            margin-bottom: 1rem; }
          #cattyboard_wrapper .main-top_container .header-section_container header .header_content div:nth-child(1) p {
            margin-bottom: 0.2rem; }
          #cattyboard_wrapper .main-top_container .header-section_container header .header_content div:nth-child(2) a {
            margin-right: 1rem; }
      #cattyboard_wrapper .main-top_container .header-section_container .playlist-section {
        margin: 1rem; }
        #cattyboard_wrapper .main-top_container .header-section_container .playlist-section .playlist-section-flexbox {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          padding: 1rem; }
          #cattyboard_wrapper .main-top_container .header-section_container .playlist-section .playlist-section-flexbox div {
            -webkit-box-flex: 1;
                -ms-flex: 1;
                    flex: 1; }
            #cattyboard_wrapper .main-top_container .header-section_container .playlist-section .playlist-section-flexbox div button {
              padding: 1px;
              color: blue;
              text-transform: uppercase; }
          #cattyboard_wrapper .main-top_container .header-section_container .playlist-section .playlist-section-flexbox:nth-of-type(even) {
            background-color: lightgray; }
  #cattyboard_wrapper .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: midnightblue;
    color: white;
    padding: 1rem; }
    #cattyboard_wrapper .footer_container .album-logo-title_box {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #cattyboard_wrapper .footer_container .album-logo-title_box div:nth-child(1) {
        margin-right: 2rem; }
        #cattyboard_wrapper .footer_container .album-logo-title_box div:nth-child(1) img {
          width: 100px;
          height: 100%; }
      #cattyboard_wrapper .footer_container .album-logo-title_box div:nth-child(2) p {
        line-height: 2rem; }
    #cattyboard_wrapper .footer_container .footer_button-box {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      text-align: right; }
      #cattyboard_wrapper .footer_container .footer_button-box a {
        font-size: 1.3rem; }
